# Config files
*.ini

# Flask .py[cod] files
*.py[cod]

# Scripts
gitSetup.sh

# Socket files
*.sock

# Vim swap files
*.swp

# Virtual Environment
parkitenv/

# environment files
*.env

# test files
parkit.py
