page-login{

}

#header{
  background-color: #0072D6;
}

#button{

  margin-top: 17px;
  background-color: #FFFFFF;
  color: #0072D6;
  width: 100px;
  margin-left: 230px;
 display: inline-block;
 position: absolute;


}

#signIn{

  background-color: #FFFFFF;
  color: #14AE45;
  border-color: #14AE45;
  border-width: 2px;
  height:50px;
  width:200px;
  margin: -50px -100px;
  position:relative;
  top:50%;
  left:50%;



}

#buttons {

  padding-top: 10px;


}

#label{
padding-top: 17px;
margin-top: 15px;
color: #808080;
display: inline-block;
position: absolute;
padding-left: 40px;


}

#view{

  margin-top: 2px;
  background-color: #FFFFFF;

}
