<ion-header>
  <ion-navbar>
    <ion-title>
      My Car
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card>

  <ion-card-content>
    <h1 id="Header">Car Details</h1>
    <ion-item>
      <ion-label fixed *ngIf="!new" >Parking Lot</ion-label>
      <ion-input type="text" value="" *ngIf="new"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="new" fixed>Floor</ion-label>
      <ion-input *ngIf="new" type="password"></ion-input>
    </ion-item>
    <img [src]="base64Image" *ngIf="base64Image" />
    <button ion-button block color="standard" (click)="takePicture()">Take Picture</button>
  </ion-card-content>
</ion-card>


<div padding>
<button ion-button block color="secondary">Save</button>
<button ion-button block color="danger" (click)="delete()" id="deleteButton">Delete</button>
</div>





</ion-content>
