page-signup{

}

#signUp{

  background-color: #FFFFFF;
  color: #14AE45;
  border-color: #14AE45;
  border-width: 2px;
  height:50px;
  width:200px;
  margin: -50px -100px;
  position:relative;
  top:50%;
  left:50%;
  margin-top: 5px;



}

#label1{
padding-top: 60px;
margin-top: 15px;
color: #808080;
display: inline-block;
position: absolute;
padding-left: 40px;


}

#button1{

  margin-top: 60px;
  background-color: #FFFFFF;
  color: #0072D6;
  width: 100px;
  margin-left: 240px;
 display: inline-block;
 position: absolute;


}
